
html {
  background-color: #0d412a;
  font-family: sans-serif;
  color: #ffffff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-family: 'Arial Narrow Bold';
}

.signal-header-cursive{
  font-family: 'Brush Script MT', cursive;
}

.signal-header-cursive-gold{
  font-family: 'Brush Script MT', cursive;
  color: #d8b74a;
}

.formatted-info-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 0.5;
  font-size: small;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  color : #edffd5;
}

.join-us-nav-links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  color : #edffd5;
}

.blog-nav-links {
  width: 100%;
  margin: 0;
  color : #edffd5;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #8b752d;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}

/* nav styles */
.menu {
  background-color: #d8b74a;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }

  .title {
    align-content: center;
  }
}