---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About: Troop 22";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>About Troop 22</h2>
  <p>We are Troop 22! Nothing else to say right now!</p>
  <p>This site will update, so keep checking back and see how Troop 22's journey is going!</p>
</BaseLayout>