---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Us";
---
<BaseLayout pageTitle={pageTitle}>

  <h6>WHO WE ARE ——— </h6>
  <h3 class="signal-header-cursive">More than ranks & badges — a sisterhood </h3>

  <p>We are an all-girls Scouts BSA troop chartered to Grace United Methodist Church in Cape Girardeau, Missouri. 
    We're a part of the Shawnee District of the Greater St. Louis Area Council.</p>
  <p>Whether you're a seasoned camper or have never tied a knot, Troop 22 is a place to grow, lead, and adventure alongside other incredible young women. 
    We hope that you'll join and grow alonside us on our journeys to Eagle!</p>
</BaseLayout>