---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Activities";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
  <h6>WHAT WE DO ——— </h6>
  <h3 class="signal-header-cursive">Adventure Awaits</h3>
  
  <p>From weekly meetings to exciting campouts, Troop 22 offers a variety of activities for our girls to participate in and grow from.
     Each activity we do builds communication, life, and leadership skills that will prove invaluable in adulthood.</p>
  <p>Below, you can find descriptions of some of our most fun activities!</p>
  
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>