---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact Us: Troop 22";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Contact Us</h2>
  <p>We would love to hear from you! Please feel free to reach out with any questions or comments.</p>
  <p>You can contact us at:</p>
  <ul>
    <li>Email: troop22@example.com</li>
    <li>Phone: (123) 456-7890</li>
  </ul>
</BaseLayout>