---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "WELCOME TO";
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="title">TROOP</h1>
  <h1 class="title">22</h1>
  <p>An all-girls Scouts BSA troop exploring the outdoors,
    building leadership skills, and making fun lifelong memories
    in Cape Girardeau, Missouri.
  </p>

  <p>⬡ Chartered to Grace United Methodist Church - Shawnee District - GSLAC</p>

</BaseLayout>