---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Gallery: Troop 22";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Our awesome gallery!</h2>
  <p>Oops! There's no Photos currently! Come back later!</p>
  <img src={'/public/GalleryImages/2025_SeptCampout_Leaders.jpg'} width="300"/>
  <img src={'/public/GalleryImages/2025_SeptCampout_Girls.jpg'} width="300"/>
  <img src={'/public/GalleryImages/2025_SeptCampout_Flowers.jpg'} width="300"/>
  <img src={'/public/GalleryImages/2025_SeptCampout_Forest.jpg'} width="300"/>
  <img src={'/public/GalleryImages/2025_SeptCampout_Hike.jpg'} width="300"/>
  <img src={'/public/GalleryImages/2025_SeptCampout_Rock.jpg'} width="300"/>
</BaseLayout>