---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Gallery: Troop 22";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Our awesome gallery!</h2>
  <p>Oops! There's no Photos currently! Come back later!</p>
</BaseLayout>