---
---
<div id="main-menu" class="nav-links">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<a href="/whatsnew/">News</a>
<a href="/tags/">Tags</a>
<a href="/photogallery/">Photos</a>

<div>