---
const { platform, username } = Astro.props;
---
<a href="/contact-us/">{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #69631e;
    text-decoration: none;
  }
</style>